@media screen and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img.veio{
    width: 50%;
  }  
  .efeito-magica {
    height: 600vh;
  }

  strong.cabeca {
    font-size: 32px;
  }

  .openNav {
    margin-top: -12px;
    padding-bottom: 15px;
  }

  .texto1 {
    display: grid;
    width: 90%;
    padding: 40px;
  }

  .texto2 {
    display: grid;
    width: 90%;
  }

  p.textos {
    margin-left: 10px;
    font-size: 25px;
    max-width: 100%;
  }
  p#textos2 {
    font-size: 25px;
    max-width: 82.5%;
  }

  h1#destaque{
    max-width: 200px;
  }

  strong.cabeca2 {
    font-size: 15px;
    margin-left: 2cm;
  }

  strong.cabeca22 {
    margin-left: 5cm;
    font-size: 15px;
  }
  .caixas {
    display: grid;
  }

  .espaco {
    height: 400px;
  }
  img.FelixCatus {
    display: grid;
  }

  .gato {
    display: grid;
  }

  img.temas {
    width: 50%;
    height: 30vh;
  }

  #openNav {
    display: none;
  }

  .menu {
    display: block;
  }

  .ref-imagens {
    margin-left: 4.1cm;
    max-width: 257px;
  }

  .ref-imagens-2 {
    margin-left: 1.5cm;
  }

  .ref-imagens-3 {
    margin-left: 2.2cm;
    max-width: 385px;
  }

  .ref-imagens-4 {
    margin-left: 2.2cm;
    max-width: 180px;
  }

  blockquote {
    margin-left: 6cm;
    max-width: 255px;
  }
  #temas{
    grid-template-columns: auto;
  }
  .center{
    padding: 0;
  }
  footer{
    display: grid;
  }
  .cabeca12{
    text-align: center;
    width: 50%;
  }
  p.margem{
    margin-left: 1cm;
    margin-right: 1cm;
  }
  
  p.bibli{
    margin-left: 1cm;
    margin-right: 1cm;
  }
}

@keyframes barra {
  0% {
    top: -100%
  }

  100% {
    bottom: 100%
  }
}

@keyframes intro {
  0% {
    transform: perspective(200px) rotateX(14deg) translateY(800px);
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: perspective(200px) rotateX(20deg) translateY(-1000px);
    opacity: 1;
  }
  header{
    margin: 0;
  }
} 

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient_3012 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
  
}

@keyframes barraDois {
  from {
    bottom: 100%
  }

  to {
    top: -100%
  }
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

a {
  text-decoration: none;
}
