* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(#aaaaaa)) fixed;
  background-size: cover;
  width: 100%;
  background-image: url("Imagens/555187.jpg");

}

@media screen and (max-width: 1024px) {
  .efeito-magica{
    height: 600vh;
  }
}

#magica {
  display: none;
}

.efeito-magica {
  width: 250vh;
  height: 500vh;
  position: absolute;
  top: 0;
  background-color: #000000;
  background-image:url(http://untroubled.org/backgrounds/space/stars.gif) ;
  animation: animation 8s;
  max-width: 100% ;
}

/*@keyframes animation {
  from {
    right: -150%;
  }

  to {
    right: 0;
  }
}*/

:root {
  --main: #ffb13a;
  --font: 'Roboto', 'Oxygen', sans-serif;
}

.star {
  overflow: hidden;
  background-color: none;
  font-family: var(--font);
  margin: 0;
  color: white;
}

h2.star {
  text-align: center;
  margin: 0 0 60px 0;
  font-size: 5rem;
}

p.star {
  font-size: 35px;
  line-height: 4rem;
  margin-bottom: 20px;
}

.star-wars {
  padding: 40px;
  text-align: justify;
  margin: 0 auto;
  letter-spacing: 1px;
  max-width: 1080px;
  height: 750px;
  transform: perspective(200px) rotateX(14deg);
  animation: intro 40s linear infinite;
}

.star-wars :is(h2, p) {
  color: var(--main);
}

@keyframes intro {
  0% {
    transform: perspective(200px) rotateX(14deg) translateY(800px);
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: perspective(200px) rotateX(20deg) translateY(-1000px);
    opacity: 1;
  }
}

html {
  cursor: url('Imagens/R.png'), auto;
}

.auto{
  margin: auto;
}

.parteIndex {
  line-break: initial;
  background-size: cover;
  width: 100%;
  height: 18cm;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 8cm;
  font-size: 20px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
}

img {
  border-radius: 10px;
  border: 2pt solid rgb(50, 50, 121);
  text-align: center;

}

#center {
  text-align: center;
}

#justify {
  text-align: justify;
}


.cabeçalho {
  width: 100%;
  height: 80px;
  background-color: #0062FF;
  border: 5px solid rgb(0, 0, 0);
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  color: #FFFFFF;

}


.conteudo {
  margin-left: 3cm;
  margin-bottom: 2cm;
  margin-top: 3cm;
  margin-right: 2cm;
  max-width: 950px;
  min-width: 320px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  box-shadow: 3px 3px 3px 3px #333;
  text-align: justify;
}

.conteudo2 {
  margin-left: 3cm;
  margin-bottom: 2cm;
  margin-top: 3cm;
  margin-right: 2cm;
  max-width: 90%;
  min-width: 320px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  box-shadow: 3px 3px 3px 3px #333;
  text-align: justify;
}

blockquote {
  margin-left: 4cm;
  max-width: 200px;
}

p.margem {
  margin-left: 3cm;
  margin-right: 2cm;
  text-indent: 2cm;
}

p.margemC {
  margin-left: 4cm;
  max-width: 300px;
}

.rodape {
  height: 150px;
  background-color: #0062FF;
  clear: both;
  bottom: 0%;
  border-top: 5px solid #000000;
  width: 100%;
  border-right: 5px solid #000000;
  border-bottom: 5px solid #000000;
  border-right: 5px solid #000000;
}

.btn {
  margin-left: 4.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #0062FF 10%, rgb(0, 0, 0) 45%, rgb(1, 1, 189) 67%, rgb(0, 0, 0) 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.btn1 {
  margin-left: 4.8px;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #0062FF 10%, rgb(0, 0, 0) 45%, rgb(1, 1, 189) 67%, rgb(0, 0, 0) 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
}

strong.textosTitulo {
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  color: #0062FF;
  text-shadow: 0 0 4px rgb(50, 50, 121);
}

strong.cabeca {
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
  text-decoration: none;
  margin-left: 10px;
  font-size: 50px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  strong.cabeca {
    font-size: 32px;
  }

  .openNav {
    margin-top: -40px;
    padding-bottom: 15px;
  }
}

strong.cabeca2 {
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
  text-decoration: none;
  margin-left: 10px;
  font-size: 50px;
  width: 100%;
}

strong.cabeca22 {
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
  text-decoration: none;
  margin-left: 10px;
  font-size: 50px;
  width: 100%;
}

html::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1024px) {
  .texto1 {
    display: grid;
  }

  .texto2 {
    display: grid;
  }
}

.texto1 {
  display: flex;
  margin: auto;
  width: 85%;
  height: 30%;
  background-color: #0d63ed;
  border-radius: 10px;
  box-shadow: 2px 2px 0px 0px white;
  font-family: Arial, Helvetica, sans-serif;
}

.texto2 {
  display: flex;
  margin: auto;
  width: 85%;
  height: 30%;
  background-color: #0d63ed;
  border-radius: 10px;
  box-shadow: 2px 2px 0px 0px white;
  font-family: Arial, Helvetica, sans-serif;
  
}

.gato {
  display: grid;
}

p.caixas {
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
  text-decoration: none;
  width: 100%;
  text-align: center;
  align-items: center;
  display: grid;
}

img.veio {
  display: flex;
  width: 50%;
  border: none;
  margin-left: 1cm;
}

@media screen and (max-width: 1024px) {
  p.textos {
    margin-left: 1cm;
    max-height: 500px;
  }

  img.veio {
    display: grid;
    align-items: center;
    text-align: center;
    margin-left: 2.5cm;
  }

  .texto1 {
    display: grid;
  }
}

p.textos {
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
  text-decoration: none;
  width: 100%;

}

p#textos2 {
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
  text-decoration: none;
  width: 100%;
  display: grid;
  margin-left: 1cm;
  overflow: hidden;
}

strong.cabeca1 {
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
  text-decoration: none;
  width: 100%;
}

@media screen and (max-width:1024px) {
  strong.cabeca2 {
    font-size: 30px;
  }
}

a {
  text-decoration: none;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: #0062FF;
}

.circle:nth-of-type(2) {
  background: #000000;
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1)
}

.btn:active {
  border: double 4px #0062FF;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #0062FF;
}

.btn1:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn1:hover {
  transform: scale(1.1)
}

.btn1:active {
  border: double 4px #0062FF;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn1:active .circle {
  background: #0062FF;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient_3012 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.caixas {
  display: flex;

}

.espaco {
  height: 200px;
}

.espaco1 {
  height: 200px;
}

@media screen and (max-width: 1024px) {
  .texto1 {
    width: 90%;
  }

  .texto2 {
    width: 90%;
  }

  strong.cabeca2 {
    font-size: 15px;
    margin-left: 2cm;
  }

  strong.cabeca22 {
    margin-left: 5cm;
    font-size: 15px;
  }

  p#textos2 {
    font-size: 15px;
    max-width: 82.5%;
  }

  p.textos {
    font-size: 15px;
    max-width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .caixas {
    display: grid;
  }

  .espaco {
    height: 400px;
  }
}

#caixa1 {
  width: 350px;
  height: 350px;
  background-color: #0062FF;
  box-shadow: 2px 2px 0px 0px white;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

#caixa2 {
  width: 350px;
  height: 350px;
  margin: auto;
  background-color: #000000;
  box-shadow: 2px 2px 0px 0px white;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

#caixa3 {
  width: 350px;
  height: 350px;
  margin: auto;
  ;
  background-color: #000000;
  box-shadow: 2px 2px 0px 0px white;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

#caixa4 {
  width: 350px;
  height: 350px;
  margin: auto;
  background-color: #0062FF;
  box-shadow: 2px 2px 0px 0px white;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

#caixa1:hover {
  width: 350px;
  height: 350px;
  background-color: #0d63ed;
  box-shadow: 2px 2px 0px 0px white;
  margin-top: -10px;
  transition: 1s;
  animation: gradient_3012 2s ease infinite;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

#caixa2:hover {
  width: 350px;
  height: 350px;
  background-color: #1f1f1f;
  box-shadow: 2px 2px 0px 0px white;
  margin-top: -10px;
  transition: 1s;
  animation: gradient_3012 2s ease infinite;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

#caixa3:hover {
  width: 350px;
  height: 350px;
  background-color: #1f1f1f;
  box-shadow: 2px 2px 0px 0px white;
  transition: 1s;
  margin-top: -10px;
  animation: gradient_3012 2s ease infinite;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

#caixa4:hover {
  width: 350px;
  height: 350px;
  background-color: #0d63ed;
  box-shadow: 2px 2px 0px 0px white;
  transition: 1s;
  margin-top: -10px;
  animation: gradient_3012 2s ease infinite;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

img.FelixCatus {
  border: none;
  width: 100%;
  float: right;
  margin-right: 5%;
  clear: both;
}

@media screen and (max-width: 1024px) {
  img.FelixCatus {
    display: grid;
  }

  .gato {
    display: grid;
  }

  .texto2 {
    display: grid;
  }
}

.openNav {
  float: left;
  margin-top: -30px;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0062FF;
  overflow-x: hidden;
  transition: 0s;
  padding-top: 60px;
  border: 5px solid #000000;
  scrollbar-width: 0%;
}

@keyframes barra {
  from {
    top: -100%
  }

  to {
    bottom: 100%
  }
}

@keyframes barraDois {
  from {
    bottom: 100%
  }

  to {
    top: -100%
  }
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.5s;
}

h1.center {
  text-align: center;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  border: none;
  float: right;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  margin-right: 10px;
  margin-top: -13px;
}

.MenuB {
  float: left;
  margin-left: 5px;
  margin-top: 0px;
  border-radius: 10px;
}

.MenuB:hover {
  float: left;
  padding: 1px 1px 1px 1px;
  margin-bottom: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  background-image: linear-gradient(#000000, #0062FF);

}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  #openNav {
    display: none;
  }

  .menu {
    display: block;
  }
}

@media screen and (max-width:790px) {
  .MenuB {
    display: none;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  border-radius: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
}

p.margemsambaqui{
  font-size: 20px;
  letter-spacing: 1px;
  color: black;
  text-shadow: 0 0 4px white;
}

.img-container {
  text-align: center
}