* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
font-family: 'Avalors Personal Use';
}

img {
  border-radius: 10px;
  border: 2px solid rgb(50, 50, 121)
}

.cabeçalho {
  width: 100%;
  height: 100px;
  background-color: rgb(50, 50, 121);
  border: 5px solid rgb(0, 0, 0);
    z-index: 2;
  font-family: 'Avalors Personal Use';
  font-size: 15px;
  letter-spacing: 5px;
  color: #FFFFFF;
  
}

#caixa {
  float: left;
  background-color: rgb(50, 50, 121);
  width: 300px;
  height: 300px;
  padding: 10px;
  margin-top: 15px;
  border: 5px solid rgb(0, 0, 0);
  margin-left: 100px;
  border-radius: 10;
  color:#FFFFFF
}

.h1cabeça {
  margin-left: 10px;
  font-size: 50px;
}

.esquerdo {
  height: 1000px;
  width: 200px;
  border: 5px solid rgb(0, 0, 0);
  background-color: rgb(50, 50, 121);
  float: right;
  text-align: center;
  color:#FFFFFF
}

.esquerdoOndas {
  height: 1500px;
  width: 200px;
  border: 5px solid rgb(0, 0, 0);
  background-color: rgb(50, 50, 121);
  float: right;
  text-align: center;
  color:#FFFFFF
}

.esquerdoEnergia {
  height: 5000px;
  width: 200px;
  border: 5px solid rgb(0, 0, 0);
  background-color: rgb(50, 50, 121);
  float: right;
  text-align: center;
  color:#FFFFFF
}

.esquerdoBibli {
  height: 3500px;
  width: 200px;
  border: 5px solid rgb(0, 0, 0);
  background-color: rgb(50, 50, 121);
  float: right;
  text-align: center;
  color:#FFFFFF
}

.esquerdoCorre {
  height: 1500px;
  width: 200px;
  border: 5px solid rgb(0, 0, 0);
  background-color: rgb(50, 50, 121);
  float: right;
  text-align: center;
  color:#FFFFFF
}


.esquerdoNewton {
  height: 3300px;
  width: 200px;
  border: 5px solid rgb(0, 0, 0);
  background-color: rgb(50, 50, 121);
  float: right;
  text-align: center;
  color:#FFFFFF
}

.esquerdoMecanica {
  height: 2500px;
  width: 200px;
  border: 5px solid rgb(0, 0, 0);
  background-color: rgb(50, 50, 121);
  float: right;
  text-align: center;
  color:#FFFFFF
}

.conteudo{
float: left;
margin-top: 15px;
margin-left: 15px;
max-width: 800px;
height: 800px;


}


.rodape {
  height: 150px;
  background-color: rgb(50, 50, 121);
  clear: both;
  bottom: 0%;
  border-top: 5px solid #000000;
  width: 100%;
  border-right: 5px solid #000000;
  border-bottom: 5px solid #000000;
  border-right: 5px solid #000000;
}

.btn {
  margin-left: 4.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, rgb(1, 1, 189) 10%, rgb(0, 0, 0) 45%, rgb(1, 1, 189) 67%, rgb(0, 0, 0) 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: 'Avalors Personal Use';
  font-size: 15px;
  letter-spacing: 5px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
}

strong.textosTitulo {
  z-index: 2;
  font-family: 'Avalors Personal Use';
  font-size: 30px;
  letter-spacing: 5px;
  color: rgb(50, 50, 121);
  text-shadow: 0 0 4px rgb(50, 50, 121)
;
}

strong.cabeça {
  z-index: 2;
  font-family: 'Avalors Personal Use';
  font-size: 50px;
  letter-spacing: 5px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1)
}

.btn:active {
  border: double 4px #FE53BB;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #FE53BB;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.game-board {
  margin-left: 100px;
  width: 1000px;
  height: 500px;
  border: 1px solid #333;
  position: relative;
  overflow: hidden;
  background-image: url("Imagens/OIP.jpeg");
  background-size: 1100px;
  border: 5px solid #000000;
}

.cabeçalhoJogo {
  margin-left: 100px;
  max-width: 1000px;
}

.max {
  position: absolute;
  bottom: 0;
  width: 150px;
  animation: max-animation 2.5s infinite linear;
}

img.max {
  position: absolute;
  bottom: 0;
  width: 150px;
  animation: max-animation 2.5s infinite linear;
}

@keyframes max-animation {
  from {
      right: -80px
  }

  to {
      right: 100%
  }
}


img.yellow {
  width: 150px;
  position: absolute;
  bottom: 0;
  margin-left: 15px;
}

.yellow {
  width: 150px;
  position: absolute;
  bottom: 0;
  margin-left: 15px;
}

.jump {
  animation: jump 500ms ease-out;
}

@keyframes jump {
  0% {
      bottom: 0;
  }

  40% {
      bottom: 180px
  }

  50% {
      bottom: 180px;
  }

  60% {
      bottom: 180px
  }


  100% {
      bottom: 0
  }

}

img.whale {
  position: absolute;
  width: 100px;
  animation: whale-animation 5.5s infinite linear;
}


.whale {
  position: absolute;
  width: 100px;
  animation: whale-animation 5.5s infinite linear;
}

@keyframes whale-animation {
  from {
      right: -100px
  }

  to {
      right: 100%
  }
}

